/*-- scss:defaults --*/
$primary: #003D73 !default;
$secondary: #00A3E0 !default;
$navbar-bg: #003D73;

/*-- scss:rules --*/
.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand img {
  max-height: 40px;
  margin-right: 10px;
}